<div class="login-page" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="50px">
  <mat-card fxFlexAlign="center" style="width: 35%;">
    <div class="d-flex justify-content-center">
      <mat-card-title>Sign Up</mat-card-title>
    </div>

    <mat-card-content>

      <div class="d-flex justify-content-center">
        <label class="image-upload-container btn btn-bwm">
          <img *ngIf="!signUpModel.image" src="/assets/image/avater.png" style="border-radius: 50%;" height="120px" width="120px">
          <img *ngIf="signUpModel.image" [src]="localImageFile" style="border-radius: 50%;" height="120px" width="120px">
          <input #imageInput type="file" accept="image/*" (change)="uploadImage(imageInput)" style="display: none;">
        </label>
      </div>

      <form (keyup.enter)="signup()">
        <mat-form-field class="login-field">
          <input matInput placeholder="FULL NAME" name="fullName" [(ngModel)]="signUpModel.fullName" type="text"
            autocomplete="username name" />
        </mat-form-field>
        <mat-form-field class="login-field">
          <input matInput placeholder="EMAIL" name="email" [(ngModel)]="signUpModel.email" type="email"
            autocomplete="username email" />
        </mat-form-field>
        <mat-form-field class="login-field">
          <input matInput placeholder="Password" name="password" [(ngModel)]="signUpModel.password" type="password"
            autocomplete="current-password" />
        </mat-form-field>
        <mat-form-field class="login-field">
          <input matInput placeholder="BIRTH DAY" name="birthDay" [(ngModel)]="signUpModel.birthDate" type="date"
            autocomplete="username birthdate" />
        </mat-form-field>
      </form>
      <mat-error [textContent]="errorMessage"></mat-error>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" class="login-field" (click)="signup()" type="submit">
        SIGN UP
      </button>
    </mat-card-actions>

    <div class="d-flex justify-content-center" style="font-size: 14px;">
      ALREADY HAVE AN ACCOUNT? <span style="width: 12px;"></span> <a (click)="login()" style="cursor: pointer; font-weight: 600;"> SIGN IN</a>
    </div>
  </mat-card>
</div>