<h1 mat-dialog-title>Delete Event</h1>
<div mat-dialog-content>Do you want to delete this event?</div>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button class="btn btn-danger" mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="onDeleteClick()">Delete</button>
</mat-dialog-actions>