<div class="login-page" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="50px">
    <mat-card fxFlexAlign="center">
        <div class="logo-container" fxFlexAlign="center">
            <app-logo></app-logo>
        </div>

        <mat-card-content>
            <form (keyup.enter)="login()">
                <mat-form-field class="login-field">
                    <input matInput placeholder="Email" name="email" [(ngModel)]="loginModel.email" type="email"
                        autocomplete="username email" />
                </mat-form-field>
                <mat-form-field class="login-field">
                    <input matInput placeholder="Password" name="password" [(ngModel)]="loginModel.password"
                        type="password" autocomplete="current-password" />
                </mat-form-field>
            </form>
            <mat-error [textContent]="errorMessage"></mat-error>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" class="login-field" (click)="login()" type="submit">
                LOGIN
            </button>
        </mat-card-actions>

        <mat-card-content style="margin-left: 50px">
            DON'T HAVE AN ACCOUNT? <span style="width: 12px"></span> <a (click)="signup()" style="cursor: pointer; font-weight: bold;">SIGN UP</a>
        </mat-card-content>
    </mat-card>
</div>