<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" [opened]="isOpen" style="background-color: #50d2c2; width:280px">
        <div>
            <img [src]="profileImage" class="rounded-circle" alt="Cinque Terre" width="180px" height="180px">
        </div>
        <mat-nav-list>
            <mat-list-item>
                <a matLine [routerLink]="['/nav/home']">Home</a>
                <button mat-icon-button >
                    <mat-icon>home</mat-icon>
                </button>
            </mat-list-item>
            <mat-list-item>
                <a matLine [routerLink]="['/nav/add-edit-event/0']">Add new</a>
                <button mat-icon-button >
                    <mat-icon>add</mat-icon>
                </button>
            </mat-list-item>
            <mat-list-item (click)="onClickLogout()">
                <a matLine>Logout</a>
                <button mat-icon-button>
                    <mat-icon>logout</mat-icon>
                </button>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-nav-toolbar [activePage]="getActivePage()" (toggleSideNav)="toggleSideNav()" (logout)="logout()"
            [previousUrl]="getPreviousUrl()"></app-nav-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
