<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="50px">

  <mat-card fxFlexAlign="center" class="container-width">
    <mat-card-title>
      Add Event
    </mat-card-title>

    <div class="container">
      <mat-card-content>
        <form (keyup.enter)="submit()">
          <div class="row">
            <mat-form-field class="login-field">
              <input matInput placeholder="TITLE" name="title" [(ngModel)]="eventModel.title" type="text"
                autocomplete="Title" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="login-field">
              <input matInput placeholder="DESCRIPTION" name="description" [(ngModel)]="eventModel.description"
                type="text" autocomplete="DESCRIPTION" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="login-field">
              <input matInput placeholder="DATE" name="date" [(ngModel)]="eventModel.date" type="date"
                autocomplete="DATE" />
            </mat-form-field>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="login-field">
                <input matInput placeholder="FROM" name="timeFrom" [(ngModel)]="eventModel.timeFrom" type="time"
                  autocomplete="FROM" />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="login-field">
                <input matInput placeholder="TO" name="timeTo" [(ngModel)]="eventModel.timeTo" type="time"
                  autocomplete="TO" />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <mat-form-field class="login-field">
              <input matInput placeholder="LOCATION" name="location" [(ngModel)]="eventModel.location" type="text"
                autocomplete="LOCATION" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="login-field" appearance="outline">
              <mat-label>NOTIFY</mat-label>
              <select matNativeControl name="notifyTime" [(ngModel)]="eventModel.notifyTime">
                <option *ngFor="let item of notifyTimeList" [value]="item.id">
                  {{item.value}}
                </option>
              </select>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="login-field">
              <input matInput placeholder="LABEL" name="label" [(ngModel)]="eventModel.label" type="color"
                autocomplete="LABEL" />
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
    </div>

    <mat-card-actions>
      <button mat-raised-button color="primary" class="login-field" (click)="submit()" type="submit">
        Submit
      </button>
    </mat-card-actions>
  </mat-card>
</div>