<table class="table-container">
  <tr *ngFor="let event of eventModifiedList">
    <td *ngIf="event.isDate">
      <mat-card>{{getReadableDate(event.data)}}</mat-card>
    </td>

    <td *ngIf="event.isDate == false">

      <div [ngStyle]="{'border-left': event.data.label}">
        <mat-card class="example-card"
          [ngStyle]="{'opacity': isEditModeEnable(event.data.date, event.data.timeTo) == true ? '1' : '0.4'}">

          <mat-card-header>
            <mat-card-title>{{event.data.title}}</mat-card-title>
          </mat-card-header>

          <mat-card-actions>

            <div class="d-flex ml-3 bd-highlight">
              <div class="p-2 bd-highlight"><span class="material-icons">
                  access_time
                </span> {{getReadableTime(event.data.timeFrom, event.data.timeTo)}}</div>
              <div class="p-2 flex-grow-1 bd-highlight">
                <span class="material-icons">
                  location_on
                </span>
                {{event.data.location}}</div>

              <div class="p-2 bd-highlight">
                <button *ngIf="isEditModeEnable(event.data.date, event.data.timeTo)" mat-button
                  [routerLink]="['/nav/add-edit-event/', event.data.id]"><span class="material-icons">
                    edit
                  </span></button></div>
              <div class="p-2 bd-highlight"><button mat-button mat-button
                  (click)="openDeleteDialog(event.data.id)"><span class="material-icons">
                    delete_outline
                  </span></button></div>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </td>
  </tr>
</table>