.login-page {
    height: 100%;
    width: 100%;
}

.logo-container {
    height: auto;
    width: 250px;
}

.login-field {
    width: 100%;
}

.table-container {
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
}

.vl {
    border-left: 6px solid yellow;
    height: 100%;
  }